* {
    font-family: arial, sans-serif;
    font-size: 12px;
}

html, body {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: #FFFFFF;
}

#begin {
    position: absolute;
    width: 100%;
    margin-top: calc(50vh - 40px);
    z-index: 1000;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    pointer-events: none;
    color: #ddd;
    text-shadow: 3px 3px #222;
    padding: 10px;
}

canvas {
    margin: 0;
    border: none;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#GMLH {
    display: none;
    background-color: #92836c;
}

#toolbar {
    display: inline-block;
    position: absolute;
    opacity: 0.1;
}

#toolbar:hover {
    opacity: 0.5;
}

#colorSelect {
    width: 40px;
    height: 24px;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

#nameInput {
   width: 120px;
   height: 21px;
   padding: 0;
   margin: 0;
   vertical-align: top;
}

#cursors {
    margin: 0;
    border: none;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    opacity: 1;
    pointer-events: none;
}

#cursors > div {
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    overflow: visible;
    opacity: 0;
    transition: opacity 200ms ease-out;
}

#cursors > div > div {
    position: relative;
    width: 100px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #ddd;
    text-shadow: 1.5px 1.5px #222;
    font-size: 14px;
}

.show {
    opacity: 1!important;
}