* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: arial, sans-serif;
    font-size: 12px;
}

html, body {
    width: 100%;
    height: 100%;
}

#begin {
    position: absolute;
    width: 100%;
    margin-top: calc(50vh - 40px);
    z-index: 1000;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    pointer-events: none;
    color: #ddd;
    text-shadow: 3px 3px #222;
    padding: 10px;
}

#streamStatus {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    pointer-events: none;
    opacity: 0.3;
    border: 8px solid green;
}

#streamStatus.paused {
    opacity: 0.5;
    border: 8px solid red;
}

canvas {
    z-index: 9;
}

#drawApp {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}

#drawApp.drawable {
    pointer-events: all;
}

.context {
    position: absolute;
    min-width: 100px;
    z-index: 1000;
    background-color: lightgray;
    border: 1px solid black;
    display: none;
    cursor: default;
}
.context > div {
    padding: 5px;
}

.context .head {
    font-weight: bold;
    background-color: dimgray;
    border-bottom: 1px solid black;
    padding-right: 20px;
}

.context .close {
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.context .option {
    cursor: pointer;
}

.context .option.first {
    border-top: 1px solid dimgrey;
}

.context .option:hover {
    background-color: gray;
}

#colorSelect {
    height: 14px;
    width: 35px;
}

#cursors {
    margin: 0;
    border: none;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    opacity: 1;
    pointer-events: none;
}

#cursors > div {
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    overflow: visible;
    opacity: 0;
    transition: opacity 200ms ease-out;
}

#cursors > div > div {
    position: relative;
    width: 100px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #ddd;
    text-shadow: 1.5px 1.5px #222;
    font-size: 14px;
}

.show {
    opacity: 1!important;
}